

#pane{
    -fx-background-image: url("fire.jpg");
    -fx-background-repeat: stretch;   
}

.login{
    -fx-background-image: url("guy-fieri.jpg");
    -fx-background-repeat: stretch;
}


.chatbox{
    -fx-background-color:#333333;
    -fx-min-height:500px;
    -fx-min-width:377px;
}

.chatpane{
    -fx-background-color:#333333;
}

.label{
    -fx-padding: 5px;
    -fx-background-color: #C6712B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}